{% extends 'base.html' %}
{% block content %}
<h1>Cancel Reservation</h1>
<form method="POST">
    {% csrf_token %}
    <h3>Are you sure you want to delete reservation</h3>
    <h2>Details:</h2>
    <p>Booking number: {{ reservation.pk }}</p>
    <p>Date: {{ reservation.book_date }}</p>
    <p>Time: {{ reservation.book_time }}</p>
    <p>Party size: {{ reservation.party_size }}</p>
    <p>Name: {{ reservation.user }}</p>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
{% endblock %}