{% extends 'base.html' %}
{% block content %}
<h1>Cancel Reservation</h1>
<form method="POST">
    {% csrf_token %}
    <h3>Are you sure you want to cancel this reservation</h3>
    <h2>Details:</h2>
    <p class="text-white">Booking number: {{ reservation.pk }}</p>
    <p class="text-white">Date: {{ reservation.book_date }}</p>
    <p class="text-white">Time: {{ reservation.book_time }}</p>
    <p class="text-white">Party size: {{ reservation.party_size }}</p>
    <p class="text-white">Name: {{ reservation.user }}</p>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
{% endblock %}