{% extends 'base.html' %}
{% block title %}Reservation{% endblock %}
{% block content %}

{% if user.is_authenticated %}
<form action="" method="POST">
      <div class="col-md-6 mx-auto">
        <h1 class="text-center header">Book a Table</h1>
        {% csrf_token %}
        <div class="mb-3">
          <label for="party_size" class="form-label"><P>Number of Guests</P></label>
          <input type="number" name="party_size" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="book_date" class="form-label"><P>Date</P></label>
          <input type="date" name="book_date" id="date" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="book_time" class="form-label"><P>Time</P></label>
          <select name="book_time" required="" id="id_book_time" class="form-select">
            {% for key, value in form.fields.book_time.choices %}
            <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary">Book</button>
      </div>
    </div>
</form>
{% if messages %}
  {% for message in messages %}
    <div class="bg-danger">
    {{message}}
  </div>
  {% endfor %}
{% endif %}
{% else %}
<h1>Login or register to book a table</h1>
<a href="{% url 'login' %}">Login</a>
<a href="{% url 'register' %}">Register</a>
{% endif %}

{% endblock %}
