@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

body {
    background: black url("/static/images/background.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Baloo 2', cursive;
}

.nav-link {
  font-size: 2vh;
}

.navbar-brand {
  margin-left: 20px;
}

.main-container {
  height: 65vh;
  width: 50%;
  margin: auto;
  margin-top: 10vh;
}