{% extends 'base.html' %}

{% block content %}
{% if user.is_superuser %}
<table class="table text-white">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Guests</th>
        <th scope="col">Table</th>
        <th scope="col">Booking Number</th>
      </tr>
    </thead>
    <tbody>
        {% for reservation in reservations %}
      <tr>
        <td>{{ reservation.user }}</td>
        <td>{{ reservation.book_date }}</td>
        <td>{{ reservation.get_book_time_display }}</td>
        <td>{{ reservation.party_size }}</td>
        <td>{{ reservation.table }}</td>
        <td>{{ reservation.pk}}</td>
      </tr>
      {% endfor %}
    </table>
{% else %}
<h1>You're not allowed here.</h1>
<a href="{% url 'home'%}">Home Page</a>
{% endif %}
    
{% endblock %}