{% extends 'base.html' %}

{% block content %}
    <h1 class="header">Wirséns</h1>
    <div class="row justify-content-center pt-4">
        <div class="col-md-5">
            <table class="table table-bordered text-white mx-auto" style="width:300px;">
                <thead class="thead">
                  <th>Day</th>
                  <th>Hours</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Monday</td>
                        <td>17:30-23:00</td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td>17:30-23:00</td>
                    </tr>
                    <tr>
                        <td>Wednsday</td>
                        <td>17:30-23:00</td>
                    </tr>
                    <tr>
                        <td>Thursday</td>
                        <td>17:30-23:00</td>
                    </tr>
                    <tr>
                        <td>Friday</td>
                        <td>17:30-23:00</td>
                    </tr>
                    <tr>
                        <td>Saturday</td>
                        <td>17:30-23:00</td>
                    </tr>
                    <tr>
                        <td>Sunday</td>
                        <td>17:30-23:00</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-5">
            <h2>Contact</h2>
            <strong>Adress: Skurtadress 4</strong>
            <br>
            <strong>Phone: +46701121212</strong>
            <br>
            <strong>Email: wirsens@gmail.com</strong>
        </div>
    </div>
    <div class="row justify-content-center pt-4">
        <div class="col-md-5">
            <img class="img-fluid" src="/static/images/meatballs.jpg" alt="Background image">
        </div>
        <div class="col-md-5">
            <h2>Food</h2>
            <p class="text-white">We offer a wide range of diffrent Swedish dishes, anything from seafood to our famous meatballs</p>
        </div>
    </div>
    <div class="row justify-content-center pt-4">
        <div class="col-md-5">
            <img class="img-fluid" src="/static/images/kitchen.jpg" alt="Background image">
        </div>
        <div class="col-md-5">
            <h2>History</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In nobis voluptates similique officia. Rerum tempore ullam aut asperiores voluptas repellendus provident quam, error impedit iste at quidem eligendi, omnis harum.</p>
        </div>
    </div>
    
{% endblock %}