{% extends 'base.html' %}

{% block content %}
    <h1>About Us</h1>
    <div class="row justify-content-center pt-4">
        <div class="col-md-5">
            <img class="img-fluid" src="https://img.rawpixel.com/private/static/images/website/2022-05/upwk62046885-wikimedia-image-kowe82ri.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=ddd43b7ba017be6bb4117d73e6ac47e8" alt="Background image">
        </div>
        <div class="col-md-5">
            <h2>Food</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In nobis voluptates similique officia. Rerum tempore ullam aut asperiores voluptas repellendus provident quam, error impedit iste at quidem eligendi, omnis harum.</p>
        </div>
    </div>
    <div class="row justify-content-center pt-4">
        <div class="col-md-5 pt-2">
            <h2>Information</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In nobis voluptates similique officia. Rerum tempore ullam aut asperiores voluptas repellendus provident quam, error impedit iste at quidem eligendi, omnis harum.</p>
        </div>
        <div class="col-md-5">
            <img class="img-fluid" src="/static/images/information.webp" alt="Background image">
        </div>
    </div>
    <div class="row justify-content-center pt-4">
        <div class="col-md-5">
            <img class="img-fluid" src="https://img.rawpixel.com/private/static/images/website/2022-05/upwk62046885-wikimedia-image-kowe82ri.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=ddd43b7ba017be6bb4117d73e6ac47e8" alt="Background image">
        </div>
        <div class="col-md-5">
            <h2>History</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In nobis voluptates similique officia. Rerum tempore ullam aut asperiores voluptas repellendus provident quam, error impedit iste at quidem eligendi, omnis harum.</p>
        </div>
    </div>
    
{% endblock %}