{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1 class="header">Wirséns</h1>
    <h4 class="text-white opacity-75">Welcome to Wirséns! The home of swedish food</h4>
    <div class="row">
        <img class="img-fluid" src="{% static 'images/home-page.jpeg'%}" alt="Landing page image">
    </div>
    <div class="row justify-content-center pt-4">
        <div class="col-md-12">
            <table class="table table-bordered text-black bg-white">
                <p class="text-white">Opening hours</p>
                <thead class="thead text-info">
                  <th>Day</th>
                  <th>Hours</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Monday</td>
                        <td>17:30-23:00</td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td>17:30-23:00</td>
                    </tr>
                    <tr>
                        <td>Wednsday</td>
                        <td>17:30-23:00</td>
                    </tr>
                    <tr>
                        <td>Thursday</td>
                        <td>17:30-23:00</td>
                    </tr>
                    <tr>
                        <td>Friday</td>
                        <td>17:30-23:00</td>
                    </tr>
                    <tr>
                        <td>Saturday</td>
                        <td>17:30-23:00</td>
                    </tr>
                    <tr>
                        <td>Sunday</td>
                        <td>17:30-23:00</td>
                    </tr>
                </tbody>
            </table>
            <h2>Contact</h2>
            <strong>Adress: Matvägen 4, Stockholm</strong>
            <br>
            <strong>Phone: +46701121212</strong>
            <br>
            <strong>Email: wirsens@gmail.com</strong>
        </div>
    </div>
    <div class="row justify-content-center pt-4">
        <div class="col-md-5">
            <img class="img-fluid" src="{% static 'images/meatballs.jpg'%}" alt="Background image">
        </div>
        <div class="col-md-5">
            <h2>Food</h2>
            <p class="text-white">We offer a wide range of different classic swedish dishes. All of our meat is high quality and our seafood is fished locally. Visit us to experience the true swedish cuisine</p>
        </div>
    </div>
    <div class="row justify-content-center pt-4">
        <div class="col-md-5">
            <img class="img-fluid" src="{% static 'images/kitchen.jpg'%}" alt="Background image">
        </div>
        <div class="col-md-5 ">
            <h2>History</h2>
            <p class="text-white">The restaurant opened in 2011 and we have since been appreciated for maintaining the Swedish food culture. All our chefs share a passion for Swedish cuisine and its dishes.

            </p>
        </div>
    </div>
    
{% endblock %}