{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="center-title">
        <h1 class="text-white">Our food menu</h1>
    </div>
    <div class="food-menu-card">
        <div>

            <!-- Nav tabs -->
            <ul class="nav  tabs-menu-nav justify-content-center mb30" role="tablist">
                <li class="nav-item" role="presentation"><a class="nav-link active show" href="#breakfast" aria-controls="breakfast" role="tab" data-toggle="tab" aria-selected="true">Starters</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#lunch" aria-controls="lunch" role="tab" data-toggle="tab" aria-selected="false"> Mains</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#dinner" aria-controls="dinner" role="tab" data-toggle="tab" aria-selected="false">Desserts</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade active show" id="breakfast">
                    <div class="row">
                        <div class="col-md-6 mb20">
                            <article class="media mt-2">
                                <!-- Article Image -->
                                <h5 class="text-white food-title">Vitlöksbröd</h5>
                                <div class="d-flex justify-content-between mb10">
                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Garlic bread</h3>

                                    <div class="align-self-center">
                                        <strong class="text-white font700">$1.20</strong>
                                    </div>
                                </div>
                                <p class="mb-0 text-white">Butter, Bread, Parsley, Mozarella</p>
                                <!--/Content -->
                            </article>
                            <article class="media mt-2">
                                <!-- Article Image -->
                                <h5 class="text-white food-title">Toast Skagen</h5>
                                <div class="d-flex justify-content-between mb10">
                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Toast skagen</h3>

                                    <div class="align-self-center">
                                        <strong class="text-white font700">$5.50</strong>
                                    </div>
                                </div>
                                <p class="mb-0 text-white">bread, peeled prawns (shrimps), mayonnaise, Dijon mustard, whitefish roe, fresh dill, lemon, butter</p>
                                <!--/Content -->
                            </article>
                        </div>
                        <div class="col-md-6 mb20">
                            <article class="media mt-2">
                                <!-- Article Image -->
                                <h5 class="text-white food-title">Råbiff</h5>
                                <div class="d-flex justify-content-between mb10">
                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Steak tartare</h3>

                                    <div class="align-self-center">
                                        <strong class="text-white font700">$10.00</strong>
                                    </div>
                                </div>
                                <p class="mb-0 text-white">beef tenderloin, capers, shallots, worcestershire souce, parsley, egg yolk</p>
                                <!--/Content -->
                            </article>
                            <article class="media mt-2">
                                <!-- Article Image -->
                                <h5 class="text-white food-title">Burrata med sparris</h5>
                                <div class="d-flex justify-content-between mb10">
                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Burrata with asparagus</h3>

                                    <div class="align-self-center">
                                        <strong class="text-white font700">$8.50</strong>
                                    </div>
                                </div>
                                <p class="mb-0 text-white">walnuts, green asparagus, olive oil, cocktail tomatoes, burrata, balsamic vinegar</p>
                                <!--/Content -->
                            </article>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="lunch">
                       <div class="row">
                        <div class="col-md-6 mb20">
                            <article class="media">
                                <!-- Article Image -->
                                <a class="g-width-100" href="#">
                                    <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food10.jpg" alt="Menu title">
                                </a>
                                <!--Image -->
                                <!--Content -->
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                        <div class="align-self-center">
                                            <strong class="text-white font700">$1.20</strong>
                                        </div>
                                    </div>

                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                                <!--/Content -->
                            </article><!--/Article -->
                               <article class="media">
                                <!-- Article Image -->
                                <a class="g-width-100" href="#">
                                    <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food9.jpg" alt="Menu title">
                                </a>
                                <!--Image -->
                                <!--Content -->
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                        <div class="align-self-center">
                                            <strong class="text-white font700">$1.20</strong>
                                        </div>
                                    </div>

                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                                <!--/Content -->
                            </article><!--/Article -->
                               <article class="media">
                                <!-- Article Image -->
                                <a class="g-width-100" href="#">
                                    <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food8.jpg" alt="Menu title">
                                </a>
                                <!--Image -->
                                <!--Content -->
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                        <div class="align-self-center">
                                            <strong class="text-white font700">$1.20</strong>
                                        </div>
                                    </div>

                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                                <!--/Content -->
                            </article><!--/Article -->
                               <article class="media">
                                <!-- Article Image -->
                                <a class="g-width-100" href="#">
                                    <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food7.jpg" alt="Menu title">
                                </a>
                                <!--Image -->
                                <!--Content -->
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                        <div class="align-self-center">
                                            <strong class="text-white font700">$1.20</strong>
                                        </div>
                                    </div>

                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                                <!--/Content -->
                            </article><!--/Article -->
                               <article class="media">
                                <!-- Article Image -->
                                <a class="g-width-100" href="#">
                                    <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food6.jpg" alt="Menu title">
                                </a>
                                <!--Image -->
                                <!--Content -->
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                        <div class="align-self-center">
                                            <strong class="text-white font700">$1.20</strong>
                                        </div>
                                    </div>

                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                                <!--/Content -->
                            </article><!--/Article -->
                        </div>
                          <div class="col-md-6 mb20">
                            <article class="media">
                                <!-- Article Image -->
                                <a class="g-width-100" href="#">
                                    <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food5.jpg" alt="Menu title">
                                </a>
                                <!--Image -->
                                <!--Content -->
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                        <div class="align-self-center">
                                            <strong class="text-white font700">$1.20</strong>
                                        </div>
                                    </div>

                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                                <!--/Content -->
                            </article><!--/Article -->
                               <article class="media">
                                <!-- Article Image -->
                                <a class="g-width-100" href="#">
                                    <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food4.jpg" alt="Menu title">
                                </a>
                                <!--Image -->
                                <!--Content -->
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                        <div class="align-self-center">
                                            <strong class="text-white font700">$1.20</strong>
                                        </div>
                                    </div>

                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                                <!--/Content -->
                            </article><!--/Article -->
                               <article class="media">
                                <!-- Article Image -->
                                <a class="g-width-100" href="#">
                                    <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food3.jpg" alt="Menu title">
                                </a>
                                <!--Image -->
                                <!--Content -->
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                        <div class="align-self-center">
                                            <strong class="text-white font700">$1.20</strong>
                                        </div>
                                    </div>

                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                                <!--/Content -->
                            </article><!--/Article -->
                               <article class="media">
                                <!-- Article Image -->
                                <a class="g-width-100" href="#">
                                    <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food2.jpg" alt="Menu title">
                                </a>
                                <!--Image -->
                                <!--Content -->
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                        <div class="align-self-center">
                                            <strong class="text-white font700">$1.20</strong>
                                        </div>
                                    </div>

                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                                <!--/Content -->
                            </article><!--/Article -->
                               <article class="media">
                                <!-- Article Image -->
                                <a class="g-width-100" href="#">
                                    <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food1.jpg" alt="Menu title">
                                </a>
                                <!--Image -->
                                <!--Content -->
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                        <div class="align-self-center">
                                            <strong class="text-white font700">$1.20</strong>
                                        </div>
                                    </div>

                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                                <!--/Content -->
                            </article><!--/Article -->
                        </div>
                    </div>
                </div>   
                <div role="tabpanel" class="tab-pane fade" id="dinner">
                       <div class="row">
                        <div class="col-md-6 mb20">
                            <article class="media">
                                <!-- Article Image -->
                                <a class="g-width-100" href="#">
                                    <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food10.jpg" alt="Menu title">
                                </a>
                                <!--Image -->
                                <!--Content -->
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                        <div class="align-self-center">
                                            <strong class="text-white font700">$1.20</strong>
                                        </div>
                                    </div>

                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                                <!--/Content -->
                            </article><!--/Article -->
                               <article class="media">
                                <!-- Article Image -->
                                <a class="g-width-100" href="#">
                                    <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food9.jpg" alt="Menu title">
                                </a>
                                <!--Image -->
                                <!--Content -->
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                        <div class="align-self-center">
                                            <strong class="text-white font700">$1.20</strong>
                                        </div>
                                    </div>

                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                                <!--/Content -->
                            </article><!--/Article -->
                               <article class="media">
                                <!-- Article Image -->
                                <a class="g-width-100" href="#">
                                    <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food8.jpg" alt="Menu title">
                                </a>
                                <!--Image -->
                                <!--Content -->
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                        <div class="align-self-center">
                                            <strong class="text-white font700">$1.20</strong>
                                        </div>
                                    </div>

                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                                <!--/Content -->
                            </article><!--/Article -->
                               <article class="media">
                                <!-- Article Image -->
                                <a class="g-width-100" href="#">
                                    <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food4.jpg" alt="Menu title">
                                </a>
                                <!--Image -->
                                <!--Content -->
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                        <div class="align-self-center">
                                            <strong class="text-white font700">$1.20</strong>
                                        </div>
                                    </div>

                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                                <!--/Content -->
                            </article><!--/Article -->
                               <article class="media">
                                <!-- Article Image -->
                                <a class="g-width-100" href="#">
                                    <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food5.jpg" alt="Menu title">
                                </a>
                                <!--Image -->
                                <!--Content -->
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                        <div class="align-self-center">
                                            <strong class="text-white font700">$1.20</strong>
                                        </div>
                                    </div>

                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                                <!--/Content -->
                            </article><!--/Article -->
                        </div>
                          <div class="col-md-6 mb20">
                            <article class="media">
                                <!-- Article Image -->
                                <a class="g-width-100" href="#">
                                    <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food6.jpg" alt="Menu title">
                                </a>
                                <!--Image -->
                                <!--Content -->
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                        <div class="align-self-center">
                                            <strong class="text-white font700">$1.20</strong>
                                        </div>
                                    </div>

                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                                <!--/Content -->
                            </article><!--/Article -->
                               <article class="media">
                                <!-- Article Image -->
                                <a class="g-width-100" href="#">
                                    <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food7.jpg" alt="Menu title">
                                </a>
                                <!--Image -->
                                <!--Content -->
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                        <div class="align-self-center">
                                            <strong class="text-white font700">$1.20</strong>
                                        </div>
                                    </div>

                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                                <!--/Content -->
                            </article><!--/Article -->
                               <article class="media">
                                <!-- Article Image -->
                                <a class="g-width-100" href="#">
                                    <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food8.jpg" alt="Menu title">
                                </a>
                                <!--Image -->
                                <!--Content -->
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                        <div class="align-self-center">
                                            <strong class="text-white font700">$1.20</strong>
                                        </div>
                                    </div>

                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                                <!--/Content -->
                            </article><!--/Article -->
                           
                          
                        </div>
                    </div>
                </div>   
            </div>
        </div>
    </div>
</div>

{% endblock %}