{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="center-title">
        <h1 class="text-white">Our food menu</h1>
    </div>
    <div class="food-menu-card">
        <div>

            <!-- Nav tabs -->
            <ul class="nav  tabs-menu-nav justify-content-center mb30" role="tablist">
                <li class="nav-item" role="presentation"><a class="nav-link active show" href="#breakfast" aria-controls="breakfast" role="tab" data-toggle="tab" aria-selected="true">Starters</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#lunch" aria-controls="lunch" role="tab" data-toggle="tab" aria-selected="false"> Mains</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#dinner" aria-controls="dinner" role="tab" data-toggle="tab" aria-selected="false">Desserts</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade active show" id="breakfast">
                    <div class="row">
                        <div class="col-md-6 mb20">
                            <article class="media mt-2">
                                <!-- Article Image -->
                                <h5 class="text-white food-title">Vitlöksbröd</h5>
                                <div class="d-flex justify-content-between mb10">
                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Garlic bread</h3>

                                    <div class="align-self-center">
                                        <strong class="text-white font700">45kr</strong>
                                    </div>
                                </div>
                                <p class="mb-0 text-white">Butter, Bread, Parsley, Mozarella</p>
                                <!--/Content -->
                            </article>
                            <article class="media mt-2">
                                <!-- Article Image -->
                                <h5 class="text-white food-title">Toast Skagen</h5>
                                <div class="d-flex justify-content-between mb10">
                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Toast skagen</h3>

                                    <div class="align-self-center">
                                        <strong class="text-white font700">89kr</strong>
                                    </div>
                                </div>
                                <p class="mb-0 text-white">bread, peeled prawns (shrimps), mayonnaise, Dijon mustard, whitefish roe, dill, lemon</p>
                                <!--/Content -->
                            </article>
                        </div>
                        <div class="col-md-6 mb20">
                            <article class="media mt-2">
                                <!-- Article Image -->
                                <h5 class="text-white food-title">Råbiff</h5>
                                <div class="d-flex justify-content-between mb10">
                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Steak tartare</h3>

                                    <div class="align-self-center">
                                        <strong class="text-white font700">120kr</strong>
                                    </div>
                                </div>
                                <p class="mb-0 text-white">beef tenderloin, capers, shallots, worcestershire souce, parsley, egg yolk</p>
                                <!--/Content -->
                            </article>
                            <article class="media mt-2">
                                <!-- Article Image -->
                                <h5 class="text-white food-title">Burrata med sparris</h5>
                                <div class="d-flex justify-content-between mb10">
                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Burrata with asparagus</h3>

                                    <div class="align-self-center">
                                        <strong class="text-white font700">85kr</strong>
                                    </div>
                                </div>
                                <p class="mb-0 text-white">walnuts, green asparagus, olive oil, cocktail tomatoes, burrata, balsamic vinegar</p>
                                <!--/Content -->
                            </article>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="lunch">
                       <div class="row">
                        <div class="col-md-6 mb20">
                            <article class="media mt-2">
                                <!-- Article Image -->
                                <h5 class="text-white food-title">Kötbullar & potatismos</h5>
                                <div class="d-flex justify-content-between mb10">
                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Meatballs and mashed potatoes</h3>

                                    <div class="align-self-center">
                                        <strong class="text-white font700">140kr</strong>
                                    </div>
                                </div>
                                <p class="mb-0 text-white">minced meat, breadcrumbs, milk, eggs, onions, potatoes, lingon, sour cream</p>
                                <!--/Content -->
                            </article>
                            <article class="media mt-2">
                                <!-- Article Image -->
                                <h5 class="text-white food-title">Kalops</h5>
                                <div class="d-flex justify-content-between mb10">
                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Kalops</h3>

                                    <div class="align-self-center">
                                        <strong class="text-white font700">135kr</strong>
                                    </div>
                                </div>
                                <p class="mb-0 text-white">high reef,carrots, onion, butter, corn starch, boiled potatoes</p>
                                <!--/Content -->
                            </article>
                            <article class="media mt-2">
                                <!-- Article Image -->
                                <h5 class="text-white food-title">Wallenbergare</h5>
                                <div class="d-flex justify-content-between mb10">
                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Wallenbergare</h3>

                                    <div class="align-self-center">
                                        <strong class="text-white font700">140kr</strong>
                                    </div>
                                </div>
                                <p class="mb-0 text-white">Veal mince, eggyolks, cream, butter, breadcrumbs, lingon, boiled potatoes</p>
                                <!--/Content -->
                            </article>
                            </div>
                          <div class="col-md-6 mb20">
                            <article class="media mt-2">
                                <!-- Article Image -->
                                <h5 class="text-white food-title">Kräftpasta</h5>
                                <div class="d-flex justify-content-between mb10">
                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Crayfish with pasta</h3>

                                    <div class="align-self-center">
                                        <strong class="text-white font700">180kr</strong>
                                    </div>
                                </div>
                                <p class="mb-0 text-white">crayfish tails, tagliatelle, tomatoes, dill, cream</p>
                                <!--/Content -->
                            </article>
                            <article class="media mt-2">
                                <!-- Article Image -->
                                <h5 class="text-white food-title">Pannkakor</h5>
                                <div class="d-flex justify-content-between mb10">
                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Swedish Pancakes</h3>

                                    <div class="align-self-center">
                                        <strong class="text-white font700">110kr</strong>
                                    </div>
                                </div>
                                <p class="mb-0 text-white">milk, flour, eggs, whipped cream, strawberry jam</p>
                                <!--/Content -->
                            </article>
                            <article class="media mt-2">
                                <!-- Article Image -->
                                <h5 class="text-white food-title">Stekt strömming</h5>
                                <div class="d-flex justify-content-between mb10">
                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Fried herring</h3>

                                    <div class="align-self-center">
                                        <strong class="text-white font700">140kr</strong>
                                    </div>
                                </div>
                                <p class="mb-0 text-white">herring fillet, coarse rye flour, potatoes, onions, dill, peas</p>
                                <!--/Content -->
                            </article>
                               
                        </div>
                    </div>
                </div>   
                <div role="tabpanel" class="tab-pane fade" id="dinner">
                       <div class="row">
                        <div class="col-md-6 mb20">
                            <article class="media mt-2">
                                <!-- Article Image -->
                                <h5 class="text-white food-title">Äppelkaka</h5>
                                <div class="d-flex justify-content-between mb10">
                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Applepie</h3>

                                    <div class="align-self-center">
                                        <strong class="text-white font700">100kr</strong>
                                    </div>
                                </div>
                                <p class="mb-0 text-white">served with whipped cream</p>
                                <!--/Content -->
                            </article>
                            <article class="media mt-2">
                                <!-- Article Image -->
                                <h5 class="text-white food-title">Kladdkaka</h5>
                                <div class="d-flex justify-content-between mb10">
                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">sticky chocolate cake</h3>

                                    <div class="align-self-center">
                                        <strong class="text-white font700">100kr</strong>
                                    </div>
                                </div>
                                <p class="mb-0 text-white">Served with vanilla ice cream or whipped cream</p>
                                <!--/Content -->
                            </article>
                        </div>
                        <div class="col-md-6 mb20">
                            <article class="media mt-2">
                                <!-- Article Image -->
                                <h5 class="text-white food-title">Ostkaka</h5>
                                <div class="d-flex justify-content-between mb10">
                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Swedish curd cake</h3>

                                    <div class="align-self-center">
                                        <strong class="text-white font700">100kr</strong>
                                    </div>
                                </div>
                                <p class="mb-0 text-white">served with whipped cream and cloudberry jam</p>
                                <!--/Content -->
                            </article>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
    </div>
</div>

{% endblock %}